<p id="notice"><%= notice %></p>

<h1>Affiliations</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @affiliations.each do |affiliation| %>
      <tr>
        <td><%= link_to affiliation.name, affiliation_path(affiliation) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if can? :create, Affiliation %>
  <%= link_to 'New Affiliation', new_affiliation_path %><br>
<% end %>

<p>
  <%= link_to 'Back to Posts', posts_url %>
</p>